* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)) ,url("../../img/city.jpg") ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: rgba(0,0,0,30%);
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 0px 10px 20px
}
a {
    text-decoration: none;
    color:rgb(145, 161, 192)
}
h1,h2,h3,h4,h5,h6,p,table {
    margin: 20px;
}
thead {
    font-weight: bold;
}
td {
    padding: 2px 20px 2px 0px;
}